@mixin ckecked() {
  &::before {
    background-image: url('./images/checked=true.svg');
  }
}

.checkbox {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 1.3rem;

  input[type='checkbox'] {
    cursor: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: url('./images/checked=false.svg') no-repeat center / cover;
  }

  &:focus-within {
    &::before {
      outline: 2px solid #015ecc;
    }
  }
}

.checked {
  &::before {
    background-image: url('./images/checked=true.svg');
  }
}

.disabled {
  cursor: not-allowed;
  color: #888;
  input[type='checkbox'] {
    cursor: inherit;
  }
}

.checkedDisabled {
  &::before {
    background-image: url('./images/checked=true-disabled=true.svg');
  }
}
